.navigbar {
    overflow: hidden;
    height: 40px;
    background-color: #212121;
  }
  .navigbar a {
    float: right;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 11px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navigbar a:hover{
    background-color: orange;
    color: black;
  }