<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Our Gym Address</h4>
                <p>Sunwa Fitness Center,<br>Matara, Sri Lanka</p>
            </div>
            <div class="col-md-4">
                <h4>Contact Information</h4>
                <p>+94776178375<br>sunwafitnessmatara@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h4>Social Links</h4>
                <a href="https://www.facebook.com/sunwafitness/" class="fa fa-facebook"></a>&nbsp;&nbsp;
                <a href="https://twitter.com/" class="fa fa-twitter"></a>&nbsp;&nbsp;
                <a href="https://www.instagram.com/sunwafitness/" class="fa fa-instagram"></a>&nbsp;&nbsp;
                
            </div>
        </div>
    </div>
</div>