<div class="contentt">
    <div class="navigbar">
  <a  routerLink="/vreviews">View Reviews</a>
  <a  routerLink="/writereviews">Write a Review</a>
  <a  routerLink="/view-workout">View Workout</a>
  <a  routerLink="/addWorkout">Add Workout</a>
  <a  routerLink="/addschedule">Add Schedule</a>
  <a  routerLink="/about-us">About Us</a>
  <a  routerLink="/home">Home</a>
      </div><br><br><br>
    <!-- Main Body -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Chat System</h1>
                    <div *ngFor="let chats of chats">
                      <div class="comment mt-4 text-justify float-left">
                        <h4>{{chats.name}}</h4>
                        <br>
                        <p>{{chats.message}}</p>
                    </div><br><br><br><br>
                  </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form [formGroup]="chatForm" id="align-form">
                        <div class="form-group">
                            <h4>Ask a question or Reply for an question</h4>
                            <label for="message">Message</label>
                            <textarea formControlName="message" id=""msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
                        </div><br>
                        <div class="form-group">
                            <label for="name">Replying to (Not Mandatory)</label>
                            <input type="text" formControlName="name" id="fullname" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <button (click)="sendMsg()" class="btn" formControlName="postcomment" class="btn">Post Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><br><br><br><br>
</div>