<div>
    <div class="navigbar">
        <a  routerLink="/vreviews">View Reviews</a>
        <a  routerLink="/writereviews">Write a Review</a>
        <a  routerLink="/view-workout">View Workout</a>
        <a  routerLink="/addWorkout">Add Workout</a>
        <a  routerLink="/addschedule">Add Schedule</a>
        <a  routerLink="/about-us">About Us</a>
        <a  routerLink="/home">Home</a>
      </div><br><br><br>
    <div class="myDiv">
        <h2 class="heading2">About Sunwa Fitness Center and Fit Freak</h2>
        <p>Sunwa Fitness Center offers Fitness, Aerobics and Cardio for both Ladies and Gents. There are two trainers in the Gymnasium. Ms Jinesha is incharge of the aerobics section and Mr Arjuna is incharge of the fitness and cardio section. Both of them are well-experienced trainers. The company was lauched on November 2017 by Ms Jinesha and Mr Arjuna as a partnership. The main target of developing Fit Freak is to help the Gym Rats to maintain their scehdules and plans who are/aren't training in Sunwa Fitness Center</p>
    </div>
    <div class="container">
        <img src="../../../assets/images/gym1.png" alt="Avatar" class="gymImg">
        <div class="overlay">
          <div class="text">Warmup Machines</div>
        </div>
    </div>
    <div class="container">
        <img src="../../../assets/images/gym2.png" alt="Avatar" class="gymImg">
        <div class="overlay">
          <div class="text">Weights & Machines</div>
        </div>
    </div>
    <div class="container">
        <img src="../../../assets/images/gym3.png" alt="Avatar" class="gymImg">
        <div class="overlay">
          <div class="text">Banners</div>
        </div>
    </div>
    <div class="container">
        <img src="../../../assets/images/gym4.png" alt="Avatar" class="gymImg">
        <div class="overlay">
          <div class="text">Banners</div>
        </div>
    </div>
    <div class="container">
        <img src="../../../assets/images/gym5.png" alt="Avatar" class="gymImg">
        <div class="overlay">
          <div class="text">Machines</div>
        </div>
    </div>
</div>



  