.navigbar {
    overflow: hidden;
    height: 40px;
    background-color: #212121;
  }
  .navigbar a {
    float: right;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 11px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navigbar a:hover{
    background-color: orange;
    color: black;
  }
  .content{
    width: 100%;
    height: max-content;
    position:absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }
  .content h1{
    font-size: 70px;
    margin-top: 10%;
  }
  .content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 30px;
    font-size: 20px;
  }
  .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../../../assets/images/bgimg.jpeg);
    background-size: cover;
    background-position: center;
  }
  .button{
    width: 98%;
    padding: 15px 0;
    text-align: center;
    margin:  10px;
    font-weight: bold;
    height: 100%;;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }
  .button:hover{
    border:solid black;
    background-color: rgb(242, 165, 22);
    color: black;
  }
  .buttonbtn{
    width: 98%;
    padding: 15px 0;
    text-align: center;
    margin:  10px;
    font-weight: bold;
    height: 100%;;
    background-color: rgb(242, 165, 22); 
    color: black;
    cursor: pointer;
  }
  .btext{
    font-weight: 500;
    font-family:' Calibri';
    font-size: large;
}
.text-left{
    align-items: center;
}
.form-center {
    align-content: center;
}