
    <div class="banner">
        <div class="content"><br><br><br><br><br>
            <h1>Fit Freak</h1><br><br>
            <div class="dashboard-items">
                <button type="button" class="buttonbtn" routerLink="/admin"><span class="spn"></span>Hey Admin :)&nbsp; Select anything from the below buttons to see the information</button><br><br><br><br><br><br>
                <button type="button" class="button" routerLink="/users"><span class="spn"></span>View Users</button><br><br>
                <button type="button" class="button" routerLink="/registeredusers"><span class="spn"></span>Sunwa Fitness Center Members</button><br><br>
                <button type="button" class="button" routerLink="/reviews"><span class="spn"></span>View Reviews</button><br><br>
            </div><br>
        </div>
    </div>